/* :root {
	--main-white: #f0f0f0;
  --main-purpledark: #6200EA;
  --main-purplelight: #7C4DFF;
  --main-gray: #303841;
  --main-black: #000000;
} */

html {
	scroll-behavior: smooth;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #fff;
    background-color: #1c1c1c
}

#home h2, h3 {
	color: #fff;
}

p {
	font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

.margin {
	margin-bottom: 35px;
	font-weight: bolder;
	text-decoration: underline;
	text-decoration-style: double;
}

.container-fluid {
   	padding-top: 50px;
    padding-bottom: 50px;
}

.course-title {
	margin-bottom: 35px;
	font-weight: bolder;
	text-shadow: 4px 4px 2px #1f1f1f
}

#home {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #1c1c1c
}

#lab {
	background-color: #fff;
  color: #1c1c1c;
}

h3 {
  margin: 20px;
  font-weight: bold;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

#assignment {
	background-color: #fff;
  color: #1c1c1c
}

#project {
	background-color: #fff;
  color: #1c1c1c;
}

.thumbnail {
 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #1c1c1c
}

.thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

/* .btn{
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
} */

#contact {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
  
.contact-details {
    font-size: 24px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    color: #959595;
    margin: 2px;
}
  
.contact-details:hover {
    transform: translateY(8px);
    color: #fff
}
#contact p {
	margin-top: 35px
}